<div class="container">
  <form role="form" data-toggle="validator" (ngSubmit)="onSubmit()" [formGroup]="csInfo">
    <!-- First Name / Last Name -->
    <div class="form-group row">
      <div class="col-sm-6">
        <label>First Name</label>
        <input type="text" id="text-input" name="text-input" class="form-control" formControlName="firstName" required>
        <div *ngIf="csInfo.get('firstName').hasError('required')
              && (csInfo.get('firstName').touched || csInfo.get('firstName').dirty)">
          <p [class]="'text-danger'"> Please provide your firstName.</p>
        </div>

      </div>
      <div class="col-sm-6">
        <label>Last Name</label>
        <input type="text" id="text-input" name="text-input" class="form-control" formControlName="lastName">
        <div *ngIf="csInfo.get('lastName').hasError('required')
              && (csInfo.get('lastName').touched || csInfo.get('lastName').dirty)">
          <p [class]="'text-danger'"> Please provide your lastName.</p>
        </div>
      </div>
    </div>
    <!-- End of div-->

    <!-- Phone Number / Gate Code -->
    <div class="form-group row">
      <div class="col-sm-9">
        <label>Phone Number</label>
        <input type="text" id="text-input" name="text-input" class="form-control" formControlName="phoneNo">
        <div *ngIf="csInfo.get('phoneNo').hasError('required')
              && (csInfo.get('phoneNo').touched || csInfo.get('phoneNo').dirty)">
          <p [class]="'text-danger'"> Please provide your phone number.</p>
        </div>
      </div>
      <div class="col-sm-3">
        <label>Gate Code</label>
        <input type="text" id="text-input" name="text-input" class="form-control" formControlName="gateCode">
      </div>
    </div>

    <!-- Address -->
    <div class="form-group row">
      <div class="col-sm-12">
        <label>Address</label>
        <input type="text" id="text-input" name="text-input" class="form-control" formControlName="address">
      </div>
    </div>
    <!-- City / Zip Code-->
    <div class="form-group row">
      <div class="col-sm-6">
        <label>City</label>
        <input type="text" id="text-input" name="text-input" class="form-control" formControlName="city">
      </div>
      <div class="col-sm-6">
        <label>Zipcode</label>
        <input type="text" id="text-input" name="text-input" class="form-control" formControlName="zipCode">
      </div>
    </div>

    <!-- Email-->
    <div class="form-group row">
      <div class="col-sm-12">
        <label>Email</label>
        <input type="text" id="text-input" name="text-input" class="form-control" formControlName="email">
      </div>
    </div>
    <!-- Location checklist-->
    <div class="form-group">
      <label class="mr-3">Location</label>
      <!--
      <div class="form-check form-check-inline mr-3">
        <input class="form-check-input" type="checkbox" id="inline-checkbox1" value="0">
        <label class="form-check-label" for="inline-checkbox1">Home</label>
      </div>
      <div class="form-check form-check-inline mr-3">
        <input class="form-check-input" type="checkbox" id="inline-checkbox2" value="1">
        <label class="form-check-label" for="inline-checkbox2">Apartment</label>
      </div>
      <div class="form-check form-check-inline mr-3">
        <input class="form-check-input" type="checkbox" id="inline-checkbox3" value="2">
        <label class="form-check-label" for="inline-checkbox3">Off-site</label>
      </div>
    -->
    <div class="form-check form-check-inline">
        <div formArrayName="location" *ngFor="let location of csInfo.get('location').controls; let i=index">
            <div class="form-check form-check-inline mr-5">
              <input class="form-check-input" type="checkbox" id="inline-checkbox1" [value]="index" [formControl]="location">
              <label class="form-check-label" for="inline-checkbox1">{{locations[i].name}}</label>
            </div>
         </div>
  </div>
  </div>
    <!-- Electricity / Water checklist-->
    <div class="form-group row">
      <div class="col-sm-6">
        <label class="mr-3">Electricity</label>
        <div class="form-check form-check-inline mr-3">
          <input class="form-check-input" type="checkbox" id="inline-checkbox1" value="1">
          <label class="form-check-label" for="inline-checkbox1">Yes</label>
        </div>
        <div class="form-check form-check-inline mr-3">
          <input class="form-check-input" type="checkbox" id="inline-checkbox2" value="0">
          <label class="form-check-label" for="inline-checkbox2">No</label>
        </div>
      </div>
      <div class="col-sm-6">
        <label class="mr-3">Water</label>
        <div class="form-check form-check-inline mr-3">
          <input class="form-check-input" type="checkbox" id="inline-checkbox1" value="1">
          <label class="form-check-label" for="inline-checkbox1">Yes</label>
        </div>
        <div class="form-check form-check-inline mr-3">
          <input class="form-check-input" type="checkbox" id="inline-checkbox2" value="0">
          <label class="form-check-label" for="inline-checkbox2">No</label>
        </div>
      </div>
    </div>
    <!-- Service checklist-->
    <div class="form-group">
      <label>Service</label>
      <div class="row">
        <!--Row 1-->
        <div class="col-sm-2"><span></span></div>

        <div class="col-sm-2">
          <input class="form-check-input" type="checkbox" id="inline-checkbox1" value="option1">
        </div>
        <div class="col-sm-2">
          <input class="form-check-input" type="checkbox" id="inline-checkbox1" value="option1">
        </div>
        <div class="col-sm-2">
          <input class="form-check-input" type="checkbox" id="inline-checkbox1" value="option1">
        </div>
        <div class="col-sm-2">
          <input class="form-check-input" type="checkbox" id="inline-checkbox1" value="option1">
        </div>
        <div class="col-sm-2">
          <input class="form-check-input" type="checkbox" id="inline-checkbox1" value="option1">
        </div>
      </div>
      </div>
      <div class="form-group">
        <label></label>
      <div class="row">
        <!--Row 1-->
        <div class="col-sm-2"><span></span></div>
        <div class="col-sm-2">
          <input class="form-check-input" type="checkbox" id="inline-checkbox1" value="option1">
        </div>
        <div class="col-sm-2">
          <input class="form-check-input" type="checkbox" id="inline-checkbox1" value="option1">
        </div>
        <div class="col-sm-2">
          <input class="form-check-input" type="checkbox" id="inline-checkbox1" value="option1">
        </div>
        <div class="col-sm-2">
          <input class="form-check-input" type="checkbox" id="inline-checkbox1" value="option1">
        </div>
        <div class="col-sm-2">
          <input class="form-check-input" type="checkbox" id="inline-checkbox1" value="option1">
        </div>
      </div>
    </div>

    <!-- Vehicle form-->
    <div class="form-group" formGroupName="vehicle">
      <label>Vehicle</label>
      <div class="row">
        <div class="col-sm-4">
          <label class="sub-label">Year</label>
          <input type="text" id="text-input" name="text-input" class="form-control" formControlName="year">
        </div>
        <div class="col-sm-8">
          <label class="sub-label">Make</label>
          <input type="text" id="text-input" name="text-input" class="form-control" formControlName="make">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-7">
          <label class="sub-label">Model</label>
          <input type="text" id="text-input" name="text-input" class="form-control" formControlName="model">
        </div>
        <div class="col-sm-5">
          <label class="sub-label">Color</label>
          <input type="text" id="text-input" name="text-input" class="form-control" formControlName="color">
        </div>
      </div>
    </div>
    <!-- Source checklist -->
    <div class="form-group">
      <label>Source</label>
      <div class="row">
        <div class="col-sm-12">
            <div formArrayName="sources" *ngFor="let source of csInfo.get('sources').controls; let i=index">
                <div class="form-check form-check-inline mr-5">
                  <input class="form-check-input" type="checkbox" id="inline-checkbox1" [value]="index" [formControl]="source">
                  <label class="form-check-label" for="inline-checkbox1">{{sources[i].name}}</label>
                </div>
             </div>
        </div>
      </div>
    </div>
    <!-- Note text area -->
    <div class="form-group">
      <label for="textarea-input">Note</label>
      <div>
        <textarea id="textarea-input" name="textarea-input" rows="3" class="form-control" placeholder="Content.." formControlName="note"></textarea>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>