.header-fixed .app-header {
    position: fixed;
    z-index: 1020;
    width: 100%;
}
.app-header, .app-footer, .sidebar, .main, .aside-menu {
    transition: margin-left 0.25s, margin-right 0.25s, width 0.25s, flex 0.25s;
}
.app-header, .navbar {
    flex: 0 0 55px;
}
.app-header {
    position: relative;
    flex-direction: row;
    height: 55px;
    padding: 0;
    margin: 0;
    background-color: #fff;
    border-bottom: 1px solid #c8ced3;
}
.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}