:host /deep/ ng2-smart-table table{
    border-style: inset;
    border-image: initial;  
    display: table;
    border-spacing: 2px;
  
}
/* grid lines */
:host /deep/ ng2-smart-table table > tbody > tr > td {
    box-sizing: border-box;
  
}

/* headers grid color*/
:host /deep/ ng2-smart-table thead > tr > th  { 
   
}  

/*font size*/
:host /deep/ ng2-smart-table {
    font-size:16px;
}
